.anim-card {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.anim-content {
    position: relative;
    display: flex;
    margin: 10px 10px;
    flex-grow: 2px;
    width: 390px;
    height: 180px;
    border: solid 1px gainsboro;
    border-radius: 10px
}

.anim-img {
    width: 160px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    flex-basis: 50%;
    animation: card-load .7s ease-in infinite

}

.anim-texts {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 20px;
    flex-basis: 50%;
    animation: card-load .7s ease-in

}

.anim-text {
    width: 150px;
    height: 20px;
    animation: card-load .7s infinite ease-in
}

.anim-text:nth-child(1){
    margin-bottom: 20px
}

.anim-text:nth-child(2){
    margin-bottom: 20px
}

.anim-button {
    height: 30px;
    width: 70px;
    margin: 20px auto;
    animation: card-load .7s ease-in infinite
}

@keyframes card-load {
    0% {
        background: rgb(188,188,188);
        background: linear-gradient(90deg, rgba(188,188,188,1) 0%, rgba(128,128,128,1) 100%);
    }
    10% {    
background: rgb(188,188,188);
background: linear-gradient(90deg, rgba(188,188,188,1) 10%, rgba(128,128,128,1) 100%);
    }
    20% {
        background: rgb(188,188,188);
background: linear-gradient(90deg, rgba(188,188,188,1) 20%, rgba(128,128,128,1) 100%);
    }
    30% {
background: rgb(188,188,188);
background: linear-gradient(90deg, rgba(188,188,188,1) 30%, rgba(128,128,128,1) 100%);
    }
    40% {
background: rgb(188,188,188);
background: linear-gradient(90deg, rgba(188,188,188,1) 40%, rgba(128,128,128,1) 100%);
    }
    50% {
background: rgb(188,188,188);
background: linear-gradient(90deg, rgba(188,188,188,1) 50%, rgba(128,128,128,1) 100%);
    }
    60% {
background: rgb(188,188,188);
background: linear-gradient(90deg, rgba(188,188,188,1) 60%, rgba(128,128,128,1) 100%);
    }
    70% {    
background: rgb(188,188,188);
background: linear-gradient(90deg, rgba(188,188,188,1) 70%, rgba(128,128,128,1) 100%);
    }
    80% {
background: rgb(188,188,188);
background: linear-gradient(90deg, rgba(188,188,188,1) 80%, rgba(128,128,128,1) 100%);
    }
    90% {
background: rgb(188,188,188);
background: linear-gradient(90deg, rgba(188,188,188,1) 90%, rgba(128,128,128,1) 100%);
    }
    100% {
background: rgb(188,188,188);
background: linear-gradient(90deg, rgba(188,188,188,1) 100%, rgba(128,128,128,1) 100%);
    }
}


@media (max-width: 1000px) {
    .anim-content {
        flex-direction: column;
        width: 320px;
        height: 420px;
    }
    .anim-img {
        width: 190px;
        transform: translateX(30%)
    }
    .anim-text {
        width: 280px;
    }
}