.img-con {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#370175ea, rgba(214, 1, 1, 0.808)), url('./images/rocket-illustration.png');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat
}


.delete-content {
    position: absolute;
    top: 10%;
    right: 15%;
    text-align: center;
    width: 400px;
    margin: 0 20px;
    height: 500px;
    border-radius: 5px;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 1px 1px 4px 1px gray;
    animation: delete-content 1s;
}

.pass-for {
    text-decoration: none;
    color: #2F0E6C
}

.pass-for-h {
    margin-top: 20px;
}

.fa-arrow-left {
    margin-right: 10px
}

@keyframes delete-content {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;

    }
}

.error-handle {
    color: red;
    font-size: 14px
}

.error-success {
    color: green;
    font-size: 14px

}

.n-links {
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 140px;
    margin: 0 auto;
    max-width: 1000px;
    opacity: 0;
    animation: nav-anim 1.3s ease forwards
}

.n-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 20px;
    transition: .4s
}

.n-link:hover {
    color: rgba(255, 38, 38, 0.808)
}

#reset-btn {
    width: 100%;;
    margin-top: 10px;
    padding: 10px 40px;
    font-size: 15px;
    background:#370175ea;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-radius: 5px;

}

.delete-input {
    width: 100%;
    padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px
}

.delete-info {
    font-size: 15px;
    text-align: left
}

.fa-exclamation-circle  {
    margin-top: 10px;
    font-size: 80px;
    color: #2F0E6C
}

.container-password-text {
    color: #2F0E6C;
    margin: 20px 0
}

#reset-btn:hover {
    color: #fff;
    font-weight: 600;
}

@keyframes nav-anim {
    100% {
        opacity: 1;
    }
}

@media (max-width:1024px) {
    .delete-content {
        position: relative;
        top: 0;
        right: 0;
        width: 350px;
        margin: 30px auto
    }
    .n-links {
        justify-content: center;
    }
}